
.tagline {
    font-weight: 1200;
}

.gallery-img-container {
    background-color: rgb(32, 32, 32);
}

nav {
    background-color: gray !important;
}

footer {
    background-color: black;
}
footer small a {
    color: #999999
}